name: build-and-push
on:
  push:
    branches: [main]
    tags: ['v*.*.*']
  pull_request:
    branches: [main]

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run type checking
        run: npm run -w packages/api typecheck

      # Disabled until we add an eslint config
      # - name: Run linting
      #   run: npm run -w packages/api lint

  docker:
    runs-on: ubuntu-latest
    needs: lint-and-typecheck
    permissions:
      contents: read
      packages: write # needed for GHCR
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tags
        id: meta
        run: |
          SHA_TAG=${GITHUB_SHA::7}
          echo "sha=${SHA_TAG}" >> $GITHUB_OUTPUT
          if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
            echo "ver=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            echo "ver=pr-${{ github.event.number }}" >> $GITHUB_OUTPUT
          else
            echo "ver=main" >> $GITHUB_OUTPUT
          fi

      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: packages/api/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/kinchaku-api:${{ steps.meta.outputs.ver }}
            ghcr.io/${{ github.repository }}/kinchaku-api:${{ steps.meta.outputs.sha }}
